* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffb703;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  padding-top: 50px;
}

.flipcards {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.flipcard {
  height: 200px;
  width: 200px;
  background-color: #fff;
  border-radius: 20px;
  list-style: none;
  text-align: center;
  margin: 10px;
  padding-top: 30px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000;
}

.flipcard-head {
  font-size: 1.5rem;
  margin: 20px auto;
}

.flipcard-body {
  display: none;
  font-size: 1.5rem;
  color: red;
}

.flipcard.active .flipcard-body {
  display: block;
}
