*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
  padding: 0;
}

/* GAME BOARD STYLE */
.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

/* CURSOR NOT ALLOWED FOR CELLS HAS CLASS */
.cell.x,
.cell.circle {
  cursor: not-allowed;
}

/* REMOVING BORDER FROM AROUND CELLS */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

/* CREATING X STYLE */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--cell-size) * 0.15);
  height: var(--mark-size);
  background-color: black;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

/* CREATING CIRCLE STYLE */

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  content: '';
  position: absolute;
  width: var(--mark-size);
  height: var(--mark-size);

  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: black;
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  background-color: #fff;
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
}

/* ADDING HOVER EFFECT TO CELL ACCORDING TO TURN */

.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
  background-color: lightgray;
}

.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: lightgray;
}

/* BUTTON */
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);

  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 5rem;
}

.winning-message button {
  font-size: 3rem;
  background-color: #fff;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
  margin: 10px;
}

.winning-message button:hover {
  background-color: black;
  border-color: white;
  color: white;
}

.winning-message.show {
  display: flex;
}
