@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  background-color: #f64422;
  color: #fff;
}

h1 {
  font-size: 5rem;
}

.watch-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hours,
.days,
.minutes,
.seconds {
  font-size: 1.5rem;
  margin: 20px;
  font-family: inherit;
  width: 200px;
}

.start,
.stop,
.clear {
  font-size: 2rem;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #f64422;
}
